<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Add a new user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<section layout:fragment="content">

    <h1>Adding a new interview round for the interview</h1>
    <form th:action="@{/interview-tracking/interview-round/add}" th:object="${interviewRound}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${interviewRound.id}"/>
        <input type="hidden" th:field="*{interviewId}" th:value="${interview.id}"/>
        <p>roundName: <input type="text" th:field="*{roundName}"/></p>
        <p>roundStatus: <input type="text" th:field="*{roundStatus}"/></p>
        <p>rounfFeedback: <input type="text" th:field="*{rounfFeedback}"/></p>
        <p>roundQuestions: <input type="text" th:field="*{roundQuestions}"/></p>
        <p>interviewDate: <input type="text" th:field="*{interviewDate}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>


    <br>
    <br>
    <a th:href="@{'/interview-tracking/interview-round/get?interviewId=' + ${interview.id}}">Interview Detail Page</a>
    <br>


    <br>
    <div th:replace="fragments/homepageLinkFragment :: header">...</div>
    <br>


</section>

</body>

</html>
